In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
RAW_PATH = "/Users/shunak/Desktop/data_science_bawl/2019_Data_Science_Bawl/data/raw"

In [9]:
train_df = pd.read_csv(f"{RAW_PATH}/train.csv")
train_labels_df = pd.read_csv(f"{RAW_PATH}/train_labels.csv")
specs_df = pd.read_csv(f"{RAW_PATH}/specs.csv")
test_df = pd.read_csv(f"{RAW_PATH}/test.csv")

In [18]:
sample_df = pd.read_csv(f"{RAW_PATH}/sample_submission.csv")

### train_df

In [10]:
train_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [11]:
train_df.describe()

        event_count    event_code     game_time
count  1.134104e+07  1.134104e+07  1.134104e+07
mean   1.056642e+02  3.513838e+03  1.976236e+05
std    1.483477e+02  6.816470e+02  1.803968e+06
min    1.000000e+00  2.000000e+03  0.000000e+00
25%    2.500000e+01  3.021000e+03  3.061800e+04
50%    6.100000e+01  4.020000e+03  7.276100e+04
75%    1.290000e+02  4.035000e+03  1.574460e+05
max    3.368000e+03  5.010000e+03  3.069102e+08

### train_labels

In [12]:
train_labels_df.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [13]:
train_labels_df.describe()

        num_correct  num_incorrect      accuracy  accuracy_group
count  17690.000000   17690.000000  17690.000000    17690.000000
mean       0.760938       1.587790      0.595810        1.885585
std        0.426523       3.058295      0.430559        1.256796
min        0.000000       0.000000      0.000000        0.000000
25%        1.000000       0.000000      0.111111        1.000000
50%        1.000000       0.500000      0.750000        2.500000
75%        1.000000       2.000000      1.000000        3.000000
max        1.000000      85.000000      1.000000        3.000000

### specs

In [15]:
specs_df.head()

,event_id,info,args
0,2b9272f4,The end of system-initiated feedback (Correct)...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
1,df4fe8b6,The end of system-initiated feedback (Incorrec...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
2,3babcb9b,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
3,7f0836bf,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
4,ab3136ba,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [14]:
specs_df.describe()

,event_id,info,args
count,386,386,386
unique,386,168,191
top,44cb4907,This event occurs when the player clicks on th...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
freq,1,17,25

### test_df

In [17]:
test_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,0ea9ecc81a565215,2019-09-10T16:50:24.910Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,c1ea43d8b8261d27,2019-09-10T16:50:55.503Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,27253bdc,7ed86c6b72e725e2,2019-09-10T16:51:51.805Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK
3,27253bdc,7e516ace50e7fe67,2019-09-10T16:53:12.825Z,"{""event_code"": 2000, ""event_count"": 1}",00abaee7,1,2000,0,Crystal Caves - Level 1,Clip,CRYSTALCAVES
4,7d093bf9,a022c3f60ba547e7,2019-09-10T16:54:12.115Z,"{""version"":""1.0"",""round"":0,""event_count"":1,""ga...",00abaee7,1,2000,0,Chow Time,Game,CRYSTALCAVES

### sample_submission

In [19]:
sample_df

    installation_id  accuracy_group
0          00abaee7               3
1          01242218               3
2          017c5718               3
3          01a44906               3
4          01bc6cb6               3
5          02256298               3
6          0267757a               3
7          027e7ce5               3
8          02a29f99               3
9          0300c576               3
10         03885368               3
11         03ac279b               3
12         03e33699               3
13         048e7427               3
14         04a7bc3f               3
15         04d31500               3
16         0500e23b               3
17         0512bf0e               3
18         0525589b               3
19         05488e26               3
20         05771bba               3
21         05b82cf5               3
22         05e17e19               3
23         0617500d               3
24         068ae11f               3
25         0754f13b               3
26         07749e99               3
27         08611cc8               3
28         08671ec7               3
29         0889b0ae               3
..              ...             ...
970        f6fb106b               3
971        f7c1b0f3               3
972        f7ec4dd3               3
973        f842b8b3               3
974        f86a6ed4               3
975        f8d9593e               3
976        f8dacbde               3
977        f99be0ba               3
978        f9dd0fe3               3
979        fa21f0e4               3
980        fa537c22               3
981        fa845dbf               3
982        faa8c019               3
983        faee065f               3
984        fb3e85f5               3
985        fbe1fea6               3
986        fc0367c0               3
987        fc5612b9               3
988        fca866bc               3
989        fcff43b4               3
990        fdfed7eb               3
991        fe50e0ea               3
992        fe5f7da8               3
993        fe8984b5               3
994        feaa21ac               3
995        fee254cf               3
996        ff57e602               3
997        ffc73fb2               3
998        ffe00ca8               3
999        ffe774cc               3

[1000 rows x 2 columns]